div {
    width: 200px;
    height: 200px;
    margin: 50px;
}

.primeiro {
    background-color: rgb(255, 159, 10);
}

#segundo {
    background-color: #fff103;
}

#terceiro {
    background-color: rgba(255, 159, 10, 0.3);
}